*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: initial;
  max-width: 1320px;
}

/*header section finished*/
.header{
  width: 100%;
  height: 80px;
  padding: 0 80px;
  background:linear-gradient(180deg ,rgb(242, 198, 198),white, rgb(242, 198, 198));
 
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
}

ul li a{
text-decoration: none;
font-size: 17px;
text-transform: uppercase;
font-weight: 500;
color: black;
padding: 7px 30px;
}


li button , li button a{
  background-color: orange;
  padding: 7px 10px;
  border-radius: 30px;
  border: none;
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.logo{
  width: 80px;
}
/*header section finished*/

/*banner section started*/
.hiro{
  max-width: 1440px;
  height: calc(100vh - 80px);
  background-image: url(/assets/Hero-bg.png);
  display: flex;
  justify-content: center;
}

.hiro-content{
margin: 20px 150px;
display: flex;
flex-direction: column;
align-items: center;
}

.hiro-content img{
  width: 200px;
}

.hiro-content h1{
  padding: 20px 0;
  font-size: 35px;
  width: 500px;
  text-align: center;
}

.hiro-content p{
  font-size: 17px;
  letter-spacing: .5px;
  margin: 0 50px;
}
.hiro-content p span{
  font-size: 25px;
  letter-spacing: .5px;
  font-weight: 900;
}

.hiro-content button{
  padding: 7px 35px;
  border-radius: 30px;
  border: none;
  margin-top: 50px ;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: .3s ease-in-out;
}

.hiro-content button:hover{
  background-color: orange;
  font-weight: 700;

}
/*banner section finished*/

/*webDev section started*/
.webdev{
  width: 100%;
  height: initial;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dev-up{
padding: 30px 0;
text-align: center;
margin-bottom: 30px;
}

.dev-up h1{
  font-size: 35px;
  padding: 20px 0;
  text-decoration: underline;
}

.dev-up p{
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}

.dev-bottom{
  width: 100%;
  height: initial;
}

.items{
  padding: 10px 200px;
  display: flex;
  flex-direction: row;
  gap: 150px;
}

.item h1{
  font-size: 28px;
  padding: 15px 0;
}
.item p{
  padding: 10px 0;
  font-size: 18px;
}

.item button{
  margin: 20px 0;
  padding: 7px 25px;
}

.item button a {
  text-decoration: none;
}




/*webDev section finished*/